<div class="myContainer">
  <h1 class="text-center h3">Welcome To Funnel Website</h1>
  <div>
    <p>
      After you click the START button, 3 questions will appear, one by one in
      the following order1:
    </p>
    <ul>
      <li class="h3">What Is Your Favorite Food?</li>
      <li class="h3">What Is Your Favorite Sport?</li>
      <li class="h3">What Is Your Favorite Soccer Team?</li>
    </ul>
    <p class="h2">
      Once you have finished answering the questions, your answers and a video
      about your favorite food will appear.
    </p>
    <p class="h2">
      NOTE: You can browse through the questions by following the footer links
    </p>
  </div>
  <button routerLink="/food" class="btn btn-secondary">START</button>
</div>
